<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Wishlist</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="shareEvent()">
        <ion-icon name="share-alt"></ion-icon>
      </button>
      <account></account>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="!loading">
    <ion-grid>
      <item *ngFor="let item of event?.items; let i = index" [item]="item"
            [isSelected]="item.broughtBy.indexOf(currentUser?.nickname) > -1"
            (onUpvote)="upvoteItem(i)" (onDownvote)="downvoteItem(i, false)" (onSelect)="selectItem(i, false)"></item>
    </ion-grid>

    <button ion-button clear (click)="collapseSuggestions = !collapseSuggestions">
      Suggestions &nbsp;
      <ion-icon [name]="collapseSuggestions ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
    </button>
    <ion-grid *ngIf="!collapseSuggestions">
      <item *ngFor="let item of event?.suggestions; let i = index" [item]="item" (onUpvote)="upvoteItem(i, true)"
            (onDownvote)="downvoteItem(i, true)" (onSelect)="selectSuggestion(i)"></item>
    </ion-grid>
  </ng-container>
  <ng-container *ngIf="loading">
    loading...
  </ng-container>

</ion-content>

<ion-footer>
  <ion-row class="add-input-wrapper">
    <ion-input [(ngModel)]="newItemName" placeholder="Add an item" clearInput="true"></ion-input>
    <button ion-button icon-only small [disabled]="newItemName.length==0" (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-row>
</ion-footer>
