<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center padding>
  <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" center>
    <ion-list>
      <ion-list-header no-lines>
        Enter your credentials
      </ion-list-header>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.get('email').valid && loginForm.get('email').dirty" no-lines>
        <div class="error-message">Please enter a valid email address !</div>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.get('password').valid && loginForm.get('password').dirty" no-lines>
        <div class="error-message">Please enter your password !</div>
      </ion-item>
      <ion-item *ngIf="!!errorMessage" class="danger">
        <!-- TODO style -->
        {{errorMessage}}
      </ion-item>
    </ion-list>
    <button class="custom-button" ion-button type="submit">Sign in</button>
  </form>

  <button class="custom-button" ion-button color="secondary" (click)="onContinueWithFacebook()">
    <ion-icon name="logo-facebook" padding-right></ion-icon>
    Continue with facebook
  </button>
  <button ion-button clear> Forgot your password ?</button>
  <button ion-button clear (click)="onCreateNewAccount()"> Create your account !</button>
</ion-content>
