<ion-header>
  <ion-navbar color="primary">
    <ion-title>Bring It!</ion-title>
    <ion-buttons end>
      <account></account>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>

  <div padding><h4>Welcome to Bring it !</h4>
    <p>You will finally know who brings what at your event !</p></div>


  <div padding>


    <button ion-button clear (click)="collapseUserEvents = !collapseUserEvents">
      My events &nbsp;
      <ion-icon [name]="collapseUserEvents ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
    </button>
    <ion-grid *ngIf="!collapseUserEvents">
      <p *ngIf="(!events || events.length == 0) && authService.isUserRegistered()" padding>You don't have any upcoming events...
        :(</p>
      <button ion-item *ngFor="let event of events" (click)="selectEvent(event)">
        <h2>{{event.title}}</h2>
        <p>{{event.date | date:'dd/MM/yy'}}</p>
      </button>
    </ion-grid>
    <br>
    <button ion-button color="secondary" (click)="newEvent()" padding>New event</button>
  </div>


</ion-content>
