<!-- Generated template for the ItemsComponent component -->
<ion-content>
  <ion-list>
    <ion-list-header>
      <h1>Just pick what you bring !</h1>
    </ion-list-header>
    <ion-item *ngFor="let item of mockBringitItems">
      <ion-icon *ngIf="item.name.includes('Vin')" name="wine" item-start></ion-icon>
      <ion-icon *ngIf="item.name.includes('Bière')" name="beer" item-start></ion-icon>
      <ion-icon *ngIf="item.name.includes('Pain')" name="restaurant" item-start></ion-icon>
      <ion-icon
        *ngIf="!item.name.includes('Pain') &&
        !item.name.includes('Pain') &&
        !item.name.includes('Bière') &&
        !item.name.includes('Vin')"
        name="pint" item-start></ion-icon>
      <h2>{{item.name}} ({{item.broughtBy.length}}/{{item.quantity}})</h2>
      {{item.thumbsUp}}
      <ion-icon name="thumbs-up"></ion-icon>
      {{item.thumbsDown}}
      <ion-icon name="thumbs-down"></ion-icon>
      <ion-icon name="add-circle" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
